.shop-item {
    margin: auto -10px 2em;
    padding: 10px;
    background: floralwhite;
}
.img-wrap {
    min-height: 165px;
}
[class*=warning-sign] {
    color: #fd0;
}
.m-b-1 {
    margin-bottom: 1em;
}